<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue浅试</title>
    <script src="../lib/vue-2.6.11.js"></script>
    <style type="text/css">
        body { font-family: "Source Sans Pro", "Helvetica Neue", Arial, sans-serif; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 14px; }
        .pub-row { display: block; }
        .pub-row:before, .pub-row:after { content: ""; display: table; clear: both; }
        .pub-row>[class^="col-"] { float: left; min-height: 1px; }
        .col-1 { width: 8.33333333%; } .col-2 { width: 16.66666667%; } .col-3 { width: 25%; } .col-4 { width: 33.33333333%; } .col-5 { width: 41.66666667%; } .col-5-1 { width: 20%; } .col-5-2 { width: 40%; } .col-5-3 { width: 60%; } .col-5-4 { width: 80%; } .col-6 { width: 50%; } .col-7 { width: 58.33333333%; } .col-8 { width: 66.66666667%; } .col-9 { width: 75%; } .col-10 { width: 83.33333333%; } .col-11 { width: 91.66666667%; } .col-12 { width: 100%; }
        li {margin-bottom: 5px;}
        #app>ol>li {line-height: 1.6; margin-bottom: 1em;}
        #app p {margin: 0;}
        a:not(:hover) {text-decoration: none;}
        b {color: #ff0000; font-weight: normal;}
        ul,ol { padding-left: 30px;}
        .pre-code,
        pre { white-space: pre-line;margin: 0;}
        .fr { float: right;}
        [v-cloak] {display: none;}  /*该指令用于隐藏数据渲染完成前的双花括号*/
        .pointer { cursor: pointer;}
        pre, code { border: 1px solid #dadada;background: #eeeeee; color: #42b983; line-height: 1.6; border-radius: .3em; padding: 0 0.5em;}
        code {display: inline-block;}
        .mg-0 {margin: 0;}
        .mgt-10 {margin-top: 10px;}
        .color-black {color: #333333;}
        .color-red {color: #ff0000;}
        .color-green {color: #42b983;}
        .color-blue {color: #0000ff;}
        .font-big { font-size: larger;}
        .font-italic { font-style: italic;}
        .font-bold { font-weight: bold;}
        .height-2em { height: 2em; line-height: 2;}
        .vt {vertical-align: top;}
        .nav-top {position: sticky;top: 0;font-size: 16px;font-weight: bold;}
        .nav-top a {color: #42b983; margin-right: 25px;}
    </style>
</head>
<body>
    <nav class="nav-top"><a href="./vue-router.md" target="_blank">vue-router</a><a href="./Vuex.md" target="_blank">Vuex</a></nav>
    <ul>
        <li>在vue-cli生成基于webpack模板的项目包时，在项目目录下执行 <code>npm run dev</code> 提示 sh: webpack-dev-server: command not found，
            因webpack版本不同导致一些文件已替换，项目下缺少 node_modules 包，于是在项目文件夹下执行 <code>npm install</code> 安装这些依赖包可见项目下生成node_modules包，
            再执行 npm run dev 时即成功，新版不会自动打开浏览器，可在config/index.js中将 <code>autoOpenBrowser</code> 修改为 true
        </li>
        <li class="color-blue">注意：指令和插值表达式中没加引号的都被认为是变量(<span class="color-black font-bold">都被认为是vue实例下的属性或方法，但this关键字不是且有两种情况，一般指向对应vue实例，而在v-on/@绑定的事件中使用表达式时this是指向window对象的)</span>，加了引号才表示字符串，数组单元格和对象属性值也一样，只要是显式写在行内的都遵循此规则</li>
        <li><code>v-cloak</code>指令用于隐藏数据渲染完成前的双花括号，可在css中设置 <code>[v-cloak] {display: none;}</code>样式</li>
        <li>在模块化开发中用到样式<code>scoped</code>限制作用域时，有时效果无法深入到子元素中(尤其在修改第三方样式时)，vue中提供了<code>>>></code>符号用于样式穿透到后代，但在有的css预编译语言中无法解析该符号(如sass)，这时可用其别名 <code>/deep/</code>代替</li>
    </ul>
    <div id="app">
        <ol>
            <!--========== 双花括号插值表达式 {{var}} ==========-->
            <li>
                <b>双花括号为插值表达式</b>，绑定文本内容：{{msg1}}，也可以这样访问到{{this.msg1}}---可以通过修改脚本app.msg1改变这里的msg1信息(内容是同步的)，也可以使用
                <b>v-once指令进行一次性插值</b>，这样app.msg1的值改变时，被限制位置的相应数据就不会跟着变，<span v-once>一次性插值绑定msg1：{{msg1}}</span>
            </li>

            <!--========== v-html/v-text 指令绑定html/文本 ==========-->
            <li v-html="msg4"></li>
            <li v-text="msg4"></li>

            <!--========== v-slot 插槽指令 ==========-->
            <li>
                <span class="color-red">v-slot指令为2.6.x中新增，用于指明要将该内容放置到的插槽名和作用域插槽</span>，用法:<code>v-slot:slotName="slotProps"</code>，可使用简写形式<code>#slotName="slotProps"</code>(有slotName参数时才可用)，替代原插槽<code>slot</code>和作用域插槽<code>slot-scope</code>
                需要注意的是：<span class="color-red">与slot属性和slot-scope不同，具名插槽时v-slot只能用在`template`元素上，不能放在普通元素上，只在将所有内容都放在默认插槽中时才可以将v-slot放在组件标签上，另须在有slotName参数时才能使用简写方式(即具名模式下，默认插槽也要传入default才能使用简写)</span>
                <pre class="pre-code">
                    &lt;template v-slot:slotName><span class="color-red">这里的内容将放在`slotName`对应的插槽中，非具名插槽的name为默认`default`可不指明(若使用简写方式也必须指明`#default`)，该用法替代原插槽slot</span>&lt;/template>
                    &lt;template v-slot:[nameVar]>动态插槽名，<span class="color-red">根据变量`nameVar`的值不同，这里的内容将动态显示到对应的插槽中</span>&lt;/template>
                    &lt;template #slotName="slotProps">这里的内容将放在`slotName`对应的插槽中，<span class="color-red">且该template中也可通过`slotProps`去访问到组件内该slotName插槽上绑定属性的数据，该作用替代原作用域插槽slot-scope</span>&lt;/template>
                    &lt;template #slotName="slotProps">假设此处引入的组件内slotName插槽上绑定了user属性:`v-bind:user="value"`，<span class="color-red">则这里可访问`slotProps.user`</span>&lt;/template>
                    &lt;template #slotName="{ user }">slotProps也可以通过解构的方式传入具体的插槽prop(绑定的属性)，<span class="color-red">访问时就可以直接使用`user`</span>&lt;/template>
                    &lt;template #slotName="{ user: person }">给原绑定属性指定别名，<span class="color-red">访问时就可以使用别名`person`</span>&lt;/template>
                    &lt;template #slotName="{ user={firstName: 'Guest'} }">解构的同时甚至也可以设置默认值，当user为undefined时就会显示设置的默认值，<span class="color-red">`user.firstName`，firstName不存在时就会使用默认值Guest</span>&lt;/template>
                </pre>
            </li>

            <!--========== v-bind: 指令绑定元素属性 ==========-->
            <li v-bind:title="msg2"><b>v-bind:指令绑定元素属性，“v-bind:”可简写为“:”</b>：{{msg2}}，v-bind是Vue中的指令，这里绑定元素属性不能像绑定文本那样使用双花括号的形式直接绑定</li>

            <li>
                <b>v-bind:class 绑定class时，表达式结果类型除了字符串外，还可以是对象或数组</b>
                <ul>
                    <li>
                        <b>对象语法：</b><span v-bind:class="{'color-green': isColorGreen, 'font-big': returnSth(false)}" @click="toggleValue('isColorGreen')">js里中划线不是合法的命名符号，所以这种对象属性要用引号，属性值变量也一样(因为该变量在vue实例中也是一个属性)，点击切换颜色</span>
                        <p>v-bind:class指令也可以与元素普通class属性共存，将绑定的class添加或移除class列表，不是直接覆盖class属性的值，普通class属性中已有的class不会动(即使绑定的class中有相同的class名，也只会额外对这些class进行添加与移除，即可能会出现重复class，移除时也只会移除绑定的class，普通class上的那个同名class并不会被一同移除)<span class="font-big" :class="{'color-green': isColorGreen, 'font-big': isFontBig}" @click="toggleValue('isFontBig')">大小&颜色，这里改变绑定的大小也不会有变化，因为普通class中还有一个同名class不受影响</span></p>
                        <p>绑定的数据对象不必内联写在元素上，可以是一个值为对象的属性或者返回对象的计算属性，只要这里返回的是一个合理的对象就可以</p>
                    </li>
                    <li>
                        <b>数组语法：</b><span :class="[colorGreenClass, 'font-big']">我们可以直接将一个数组传给 v-bind:class，以应用一个class列表，需注意数组项不加引号是代表class的变量名，加引号表示字符串才是class名</span>
                        <p>数组单元格值也可以使用三元运算条件切换class，单元格也可以使用对象语法，<span :class="[isColorGreen ? colorGreenClass : 'font-italic', {'font-big': isFontBig}]" @click="toggleValue('isColorGreen')">大小/颜色/斜体</span></p>
                    </li>
                    <li>
                        <b>class属性用在自定义组件上：</b><my-component class="baz boo" :class="[isColorGreen ? 'font-italic' : colorGreenClass]">会将结果应用在该组件的根元素上，普通和带数据绑定的class都是如此（此处未定义这个组件，所以看不出来）</my-component>
                    </li>
                </ul>
            </li>

            <li>
                <b>v-bind:style 绑定行内样式时，同绑定class一样也有额外的处理方式</b>
                <ul>
                    <li>
                        <b>对象语法：</b><span v-bind:style="{backgroundColor: 'lightgray', 'font-size': returnSth(14)+'px'}" @click="toggleValue('isColorGreen')">写法与jQuery的CSS方法的对象形式类似，css属性名可以采用小驼峰方式书写，也可以以原始名字加上引号的形式书写</span>
                        <p>虽然v-bind:style指令也可以与元素普通style属性共存，将绑定的样式添加或移除样式列表，不是直接替换style属性的值，但与class不同之处就在于相同的样式会被绑定的值覆盖<span style="font-size: 12px;font-weight: bold;" :style="{color: '#0ffff0', 'font-size': fontSize+'px'}" @click="fontSize+=2">大小&颜色，这里大小会被绑定的样式覆盖</span></p>
                        <p>与class一样绑定的数据对象不必内联写在元素上，可以是一个值为对象的属性或者返回对象的计算属性，只要这里返回的是一个合理的对象就可以，通常该方式更好</p>
                    </li>
                    <li>
                        <b>数组语法：</b><span :class="[{backgroundColor: 'lightgray'}, {'font-size': returnSth(14)+'px'}]">可以将多个样式对象应用在同一个元素上，即每个单元格都是一个样式对象，这里的对象同样可以使用变量代替</span>
                    </li>
                    <li>
                        <b>自动添加浏览器前缀：</b><span :style="{transform: 'rotate(10deg)'}">当 v-bind:style 使用需要添加浏览器引擎前缀的 CSS 属性时，如 transform，Vue.js 会自动侦测并添加相应的前缀，若当前支持标准写法就不会加前缀</span>
                    </li>
                    <li>
                        <b>多重值：</b>为 style 绑定中的属性提供一个包含多个值的数组，常用于提供多个带前缀的值，但只会渲染数组中最后一个被浏览器支持的值。<span :style="{ display: ['-webkit-box', '-ms-flexbox', 'flex'] }">在本例中，如果浏览器支持不带浏览器前缀的 flexbox，那么就只会渲染 display: flex</span>
                    </li>
                </ul>
            </li>

            <!--========== v-on: 指令绑定事件 ==========-->
            <li><b>v-on指令用于事件绑定，"v-on:click" 的简写语法为 "@click"</b>，绑定事件前不加on，处理函数写在vue实例的methods中。{{msg1}} <button v-on:click="reverseMsg">倒置文本</button></li>

            <li>
                <b>修饰符，是以点"."指明的特殊后缀，用于指出一个指令应该以特殊方式绑定</b>，例如：
                <a href="../images/Vue实例生命周期图示.png" target="_blank" @click.prevent="consoleLog(1)">这里<b>.prevent</b>修饰符告诉v-on指令对于触发的事件要调用event.preventDefault()方法</a>
            </li>

            <!--========== v-model: 指令进行数据双向绑定 ==========-->
            <li><b>v-model指令用于数据的双向绑定</b>，关联处是同时发生变化的。
                <p>{{msg3}}</p>
                <input type="text" v-model="msg3" class="col-6"/>
            </li>

            <!--========== computed下计算属性 ==========-->
            <li><b>计算属性</b>
                姓：<input type="text" v-model="firstName"/>
                名：<input type="text" v-model="lastName"/>
                <p class="pub-row"><span class="col-6">姓名结算结果：{{fullName}}</span><span class="col-6">姓名输入变化次数：{{nameCount}}</span></p>
            </li>

            <li>
                <b>绑定的属性键值等也可以使用JavaScript表达式</b>，须注意的是每个绑定只能是单条表达式(即一句表达式)，例如：
                <span>插值js表达式{{msg1.split('').reverse().join('')}}</span>，<span :title="msg2+',表达式操作'">属性绑定js表达式</span>，<span>执行函数{{returnSth('🍎')}}</span>
            </li>

            <!--========== v-show 指令显示/隐藏DOM元素 ==========-->
            <li><button @click="toggleShow">v-show显示/隐藏</button> <span v-show="show"><b>v-show指令用于dom元素的显示与隐藏</b>，只是单纯操作display属性，且不支持template元素</span></li>

            <!--========== v-if/v-else-if/v-else 条件添加/移除 ==========-->
            <li>
                <b>v-if/v-else-if/v-else条件渲染添加/移除</b>
                <ul>
                    <li>
                        <p><input type="text" v-model="add"/>输入1显示v-if所在语句，2显示v-else-if所在语句，否则显示v-else所在语句，且三个指令所在元素应为兄弟元素</p>
                        <p v-if="add==1"><b>v-if指令用于dom元素的添加与移除</b>，与v-show的区别就是v-show是隐藏，v-if是移除</p>
                        <p v-else-if="add==2"><b>v-else-if和v-else与v-if指令关联使用</b>，且三个指令所在元素应为兄弟元素</p>
                        <p v-else><b>v-if/v-else-if/v-else三个指令使用时v-if一定要有，其他两个不一定要有</b>，与js中if...elseif...else同理</p>
                    </li>
                    <li>
                        <b>在<code class="color-black">&lt;template></code>元素上使用条件渲染分组</b>，例如：
                        <template v-if="show">
                            <h4 class="mg-0">标题：template元素上使用v-if</h4>
                            <p>正文：因v-if是指令，必须添加到一个元素上，但要同时渲染多个元素，这几个元素又没有用一个元素包裹时，就可以将template用作包裹元素，实际渲染时又不会出现template元素，这样就不用每个标签上都加一个v-if指令了，v-else-if/v-else指令同理</p>
                        </template>
                    </li>
                    <li>
                        <b>可以在元素上指明不同 key 属性值来避免元素复用</b>，例如：<button @click="toggleValue('seen')">切换</button>
                        <template v-if="seen">
                            <h4 class="mg-0">标题v-if</h4>
                            <p>正文v-if，当模板包含的元素一样时，切换渲染时默认不会重新渲染元素，只是改变相同元素的属性和内容，必要时<b>指明不同的key属性就可不复用而重新渲染</b>(相当于此时就是不同的DOM，复用时还是同一个DOM，只是一些属性和内容变了)，这在v-for指令循环渲染DOM中很有必要，也推荐这么做</p>
                        </template>
                        <template v-else>
                            <h4 class="mg-0">标题v-else</h4>
                            <p>正文v-else，当模板包含的元素一样时，切换渲染时默认不会重新渲染元素，只是改变相同元素的属性和内容，必要时<b>指明不同的key属性就可不复用而重新渲染</b>(相当于此时就是不同的DOM，复用时还是同一个DOM，只是一些属性和内容变了)，这在v-for指令循环渲染DOM中很有必要，也推荐这么做</p>
                        </template>
                    </li>
                </ul>
            </li>

            <!--========== v-for 循环创建dom元素并绑定相应数据 ==========-->
            <li>
                <b class="font-bold">v-for指令用于循环创建dom元素并绑定相应数据</b>，写法类似js中的 for...in 语句，<b>也可以使用 v-for="item of items" 的 of 形式</b>，建议在使用v-for时，尽量提供 key 属性以避免DOM元素复用，且key指定的变量要求在每个子项中的值都不一样，只有<b>不依赖子组件状态或临时 DOM 状态 (例如：表单输入值) 的列表渲染输出，可以不指明 key 属性</b>
                <ul>
                    <li>
                        <b>遍历数组</b>
                        <ul>
                            <li v-for="item in items">items 为源数据数组，item 代表每个单元格中的数据，{{item.text}}</li>
                        </ul>
                        <ul>
                            <li v-for="(item, index) of items" :key="index">第二个可选参数 index 为单元格对应的索引，{{index}}</li>
                        </ul>
                        <p class="color-green">数组更新检测：</p>
                        <ul>
                            <li>
                                <b>变异方法</b>(即会改变原始数组的方法)，调用这一类方法时<b>将会主动触发视图更新</b>，这些方法如下：
                                <ul class="color-green">
                                    <li>push()</li>
                                    <li>pop()</li>
                                    <li>shift()</li>
                                    <li>unshift()</li>
                                    <li>splice()</li>
                                    <li>sort()</li>
                                    <li>reverse()</li>
                                </ul>
                            </li>
                            <li>
                                <b>非变异方法采用替换数组方式</b>，调用这一类方法时不会改变原始数组，但总是返回一个新数组，所以<b>可以使用将原变量重新赋值进行替换以被动触发视图更新</b>，例如：
                                <ul class="color-green">
                                    <li>filter()</li>
                                    <li>concat()</li>
                                    <li>slice()</li>
                                    <li>
                                        <code class="pre-code vt">example.items = example.items.filter(function (item) {
                                                &nbsp;&nbsp;return item.message.match(/Foo/) }
                                            );
                                        </code>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                        <p class="color-blue">数组更改检测注意事项：</p>
                        <ul>
                            <li>
                                <b>Vue不能检测以下方式变动的数组</b>
                                <ol>
                                    <li>直接利用索引赋值改变某单元格的值，example.items[index] = newValue;
                                        <p class="color-green">可用以下方法达到同样的效果且又能使vue检测变动：</p>
                                        <ol>
                                            <li><code class="pre-code vt">// Vue.set，也可使用 vm.$set 实例方法，其是全局方法 Vue.set 的一个别名
                                                Vue.set(vm.items, indexOfItem, newValue)
                                            </code></li>
                                            <li class="mgt-10"><code class="pre-code vt">// Array.prototype.splice
                                                vm.items.splice(indexOfItem, 1, newValue)
                                            </code></li>
                                        </ol>
                                    </li>
                                    <li>直接修改数组的长度属性，example.items.length = newLength;
                                        <p class="color-green">可用以下方法达到同样的效果且又能使vue检测变动：</p>
                                        <ol>
                                            <li><code class="pre-code vt">// Array.prototype.splice
                                                vm.items.splice(newLength)
                                            </code></li>
                                        </ol>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <b>遍历对象</b>
                        <ul>
                            <li v-for="value in obj">obj 为源数据对象，value 代表遍历到的键值：{{value}}</li>
                        </ul>
                        <ul>
                            <li v-for="(value, key, index) of obj" :key="index">第二个可选参数 key 为键名：{{key}}，第三个可选参数 index 为对应的索引(对象的遍历顺序不一定按属性书写顺序)：{{index}}</li>
                        </ul>
                        <p class="color-blue">对象更改检测注意事项：</p>
                        <ul>
                            <li>
                                <p>Vue不能动态添加根级别的响应式属性(即Vue实例提供的属性/方法API下的监测对象)，在实例化之后添加的属性不能监听其改变，如：</p>
                                <code class="pre-code">var vm = new Vue({
                                    &nbsp;  data: {
                                    &nbsp;&nbsp;&nbsp;&nbsp;a: 1    // 下面的‘vm.a’是响应式的
                                    &nbsp;  }
                                    });
                                    vm.b = 2;   // 这里的‘vm.b’不是响应式的，因为在实例化vue时没有创建该属性，在实例化后添加的属性不会被检测更新
                                </code>
                                <p>但对于二级嵌套对象，<span class="color-blue">可以使用 Vue.set(obj, key, value) 方法或实例同作用方法 vm.$set(obj, key, value) 向嵌套对象添加响应式属性</span>(即根属性下的属性中的对象值下的属性)，例如：</p>
                                <code class="pre-code">
                                    var vm = new Vue({
                                    &nbsp;&nbsp;data: {
                                    &nbsp;&nbsp;&nbsp;&nbsp;userProfile: {
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;name: 'Anika'
                                    &nbsp;&nbsp;&nbsp;&nbsp;}
                                    &nbsp;&nbsp;}
                                    });
                                    //此时给‘userProfile’属性添加属性，原则来说‘userProfile’值改变了就该在页面中更新数据，但实际并不会
                                    vm.userProfile.age = 18;    //直接添加的嵌套属性在后面同级属性改变时可以被循环到，但不是响应式的，后面修改其值不会有响应
                                    //使用Vue.set()或vm.$set()方法添加响应式二级嵌套属性
                                    Vue.set(vm.userProfile,'age',18);  //此时将动态更新页面DOM，后续修改age的值也是响应式的

                                </code>
                                <p>若要添加多个新属性，都使用set方法逐个添加就比较麻烦了，此时应使用 Object.assign() 或 _.extend()等类似方法合并一个新对象重新给对应的根属性赋值</p>
                            </li>

                        </ul>
                    </li>
                </ul>
            </li>
            <li><b>要获取组件内某个DOM元素</b>，可以在要获取的html上添加<code>ref='xxx'</code>的属性，这时就可以通过组件实例上的<code>$refs</code>属性访问该DOM：<code>this.$refs.xxx</code>，若是自定义组件则获取到的是其组件实例</li>
            <li><b>组件实例属性：</b>
                <ul>
                    <li><code>$parent</code>获取父组件实例</li>
                    <li><code>$children</code>获取直接子组件实例列表(数组)</li>
                    <li><code>$root</code>获取根组件实例(最外层组件，若无则返回自身)</li>
                    <li><code>$el</code>获取当前组件根DOM元素</li>
                    <li><code>$options</code>获取当前组件实例的初始化选项对象，需要在选项中包含自定义属性时很有用</li>
                    <li><code>$slots</code>访问被插槽分发的内容，每个具名插槽都有其相应的属性，例如：slot="xxx"(v2.6.x中采用指令`v-slot:xxx`) 中的内容将会在<code>this.$slots.xxx</code>中被找到。<code>this.$slots.default</code>包括了所有没有被包含在具名插槽中的节点(即默认插槽)。在使用render函数书写一个组件时，访问`$slots`很有帮助。</li>
                    <li><code>$attrs</code>包含了父作用域中不作为`prop`被识别(且获取)的特性绑定(`class`和`style`除外)。当一个组件没有声明任何`prop`时，这里会包含所有父作用域的绑定(`class`和`style`除外)，并且可以通过<code>v-bind="$attrs"</code>传入内部组件，实测标签上额外的attr默认就会放在组件内的根元素上。</li>
                    <li><code>$listeners</code>包含了父作用域中的(不含`.native`修饰器的)`v-on`事件监听器。它可以通过<code>v-on="$listeners"</code>传入内部组件。</li>
                </ul>
            </li>
            <li><b>组件实例方法：</b>
                <ul>
                    <li><code>$nextTick(fn)</code>确保下一次数据更新完成后再执行`fn`回调</li>
                </ul>
            </li>



        </ol>
    </div>
    <div id="id1"></div>
    <script type="text/javascript" src="../../../js/jquery-1.11.3.min.js" charset="UTF-8"></script>
    <script type="text/javascript" src="../js/vue-test.js" charset="UTF-8"></script>
</body>
</html>