body>div {
    cursor: zoom-in;
    color: transparent;
}
.flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.flex-item {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.flex-item {
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 1;
    order: 1;
}
.box-sizing {
    box-sizing: border-box;
}
.transition {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}